/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/05/11, 13:55:34
    Author     : tomoya
*/

.non-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}